<h1>Edit Post</h1>

<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch"> #patch/edit action
  Name <input type="text" name="name" value="<%= @post.name %>">
  Content <input type="text" name="content" value="<%= @post.content %>">
  <input type="submit" value="submit">
</form>
