<form  action="/posts" method="POST">
<p>Name : <input type="text" id="name" name="post[name]" ></p>
<p>Content :<input type="text" id="content" name="post[content]" ></p>
<input type="submit" id="submit" value="Create Post ">

</form>
