<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <p>Blog Name: <input id="name" type="text" name="name"></p>
      <p>Blog Content: <input id="content" type="text" name="content"></p>
      <input id="submit" type="submit" name="submit" value="Submit">
    </form>

  </body>
</html>
