<h1>Create a new Post!</h1>

<form method="post" action="/posts">
    <p><input type="text" name="name" value=""></p>
    <p><input type="text" name="content" value=""></p>
    <button type="submit" value="submit">submit</button>
</form>
