<form action="/posts" method="post">
  <!-- posts to a controller action - /posts  -->

  Name<input type="text" name="name">
  Post<input type="text" name="content">
  <input type="submit" value="submit">
</form>
