<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Blog Post</title>
  </head>
  <body>
    <form action="/posts" method="POST">

      <p>Your Post Name: <input type="text" name="name"> </p>
      <br>

      <p>Content: <input type="text" name="content"></p>
      </p>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
