<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value="name">

      <label for="">Content:</label>
      <input type="text" name="content" value="content">

      <input type="submit" id="submit">
    </form>
  </body>
</html>
